.coming-soon{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    h1{
        color: white;
        font-size: 45px;
        text-align: center;
    }
}
.background-color{
   
    background-color: #401A5D;
}